@import "../variables.css";

.root {
    position: relative;
    padding: 1rem;
    background: $primary-gradient;
    overflow: hidden;
    box-shadow: $shadow;
}

.logo {
    font-family: $font-regular;
    float: left;
    padding: 1rem;
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-decoration: none;
    color: $text-color-light;
}

.logo-text {
    padding-left: .5rem;
    vertical-align: middle;
}

.actions {float: right;}

.button {
    display: inline-block;
    margin: 0 .25rem;
    padding: 1rem;
    border: 0;
    background-color: transparent;
    color: $text-color-light;
    cursor: pointer;
}
.button-text {
    vertical-align: middle;
    display: none;
}
